
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{message}} {{id}}</h2>
        </div>

        <!--<div class="panel-body text-center" ng-hide="editHide">-->
            <!--<h3>Please enter the new value</h3>-->
            <!--<form ng-submit="editElementFromList(elementToEdit, newValue)">-->
                <!--<input type="text" ng-model="newValue">-->
                <!--<input type="button" value="confirm" class="btn btn-default" ng-click="editElementFromList(elementToEdit, newValue)">-->
                <!--<input type="button" value="cancel" class="btn btn-default" ng-click="showEdit()">-->
            <!--</form>-->
        <!--</div>-->

        <div class="panel-body">
            <table class="table table-bordered">
                <tr class="text-center" ng-repeat="element in list track by $index">

                    <td ng-model="form" class="element-list">
                        <!--<button class="pull-left ">aqfza</button>-->
                        <div ng-model="form.element" class="font-app">

                            <div class="text-center" ng-hide="tabHide[$index]">
                                {{element}}
                                <img ng-click="deleteElementFromList($index)" src="app/img/iconTrash.png" class="btn-trash-hover pull-right marged-right">
                                <img ng-click="showEdit($index)" src="app/img/iconEdit.jpg" class="btn-trash-hover pull-right marged-right">
                            </div>

                            <form  class="form-inline" ng-submit="editElementFromList($index, newValue)" ng-hide="!tabHide[$index]">
                                <input type="text" class="input-round" ng-model="newValue">
                                <img ng-click="deleteElementFromList($index)" src="app/img/iconTrash.png" class="btn-trash-hover pull-right marged-right">
                                <img ng-click="showEdit($index)" src="app/img/iconEdit.jpg" class="btn-trash-hover pull-right marged-right">
                            </form>

                        </div>
                    </td>
                </tr>
            </table>


            <div >
                <div ng-hide="contentListView" class="center-form">
                    <h2 class="text-center">Menu</h2>
                    <form ng-submit="addElementToList(addContent)">
                        <input class="input-round" type="text" ng-model="addContent" placeholder=" Add element"/>
                        <input type="submit" class="btn btn-default submit-btn" value="Add" />
                    </form>

                    <form ng-submit="grantUser(userToGrant)">
                        <select class="input-round" ng-model="userToGrant" >
                            <option ng-repeat="user in listUsers">{{user.pseudo}}</option>
                        </select>
                        <input type="submit" class="btn btn-default submit-btn" value="Grant an User">
                    </form>
                </div>
            </div>

            <p style="color:#ac2925" id="error"> {{error}} </p>
            <h3 > Users connected: </h3>

            <div ng-repeat="user in usersConnected track by $index" style="display: inline-block">
                <div class="iconUser"
                     style="color: rgb({{user.color.r}}, {{user.color.g}}, {{user.color.b}});
                            border-color: rgb({{user.color.r}}, {{user.color.g}}, {{user.color.b}});
                            margin:5px"
                >
                    {{user.initials}}
                    <!--info popup-->
                    <span>{{user.username}}</span>
                </div>
            </div>
        </div>
    </div>

</div>

