body{
	background-color: rgba(253, 253, 254, 0.83);
	/*to not hide no element with the 50 px footer*/
	padding-bottom:50px;
}

.font-app{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

.marged-right{
	margin-right: 10px;
}

.marged-bottom{
	margin-bottom: 50px;
}

.marged-top{
	margin-bottom: 50px;
}

.footer {
	position: fixed;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
	bottom: 0;
}

hr{
	border: none;
	margin-top: -1px;
	height: 1px;
	background-color: #c0c8c9;
	background-image: -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff);
}

#wrapper{
	display: table;
	width: 100%;
	height: 100vh;
	background-size: auto;
	background: url("/app/img/wrapper4.png") center scroll;
	margin-bottom: 0px;
}

.welcome{
	background-color: #31394b;
	border-radius: 5px;
	width: 70vw;
}

.jumbotron{
	margin-top: 10vh;
	background-color: inherit;
	color: #262626;
}

.panel{
	margin-top: 5vh;
	margin-bottom: 0vh;
	border-color: inherit;
	background-color: whitesmoke;
}


.fullscreen{
	padding-top: 100px;
	display: table;
	width: 100%;
	height: 100vh;
}

.big-title{
	font-size: 20em;
	color: #f59428;
	font-family: "Bookman Old Style";
}

.navbar{
	margin-bottom: 0px;
	-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}

.centeredElement{
	background-color: inherit;
	margin-right:auto;
	margin-left:auto;
	width:200px;
	position: absolute;
 	 top: 50%;
 	 left:50%;
  	transform: translate(-50%,-50%);
}

.disabled{
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 0.5;
	pointer-events: none;
}

h2{
	font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px;
	color: slategrey;
}

h3{
	font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 700; line-height: 60px;
	color: #5c6c7c;
}

.form-signin{
	color: slategrey;
	margin-top: 100px;
	margin-bottom: 100px;
	/*background-color: ;*/
	background: linear-gradient(transparent, rgba(232, 227, 231, 0.2));
	/*box-shadow: #2D2D2D;*/
	/*border-bottom: solid 2px rgba(57, 118, 222, 0.3);*/
	/*border-radius: 20px;*/
	border-bottom: solid 4px;
	border-bottom-color: rgba(45, 45, 45, 0.41);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 10px;
}

.form-signin:hover{
	border-bottom: solid 4px;
	background: transparent;
	border-bottom-color: transparent;
	transform: translateY(6px);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 10px;

	-webkit-transform:scale(1.25); /* Safari and Chrome */
	-moz-transform:scale(1.25); /* Firefox */
	-ms-transform:scale(1.25); /* IE 9 */
	-o-transform:scale(1.25); /* Opera */
	transform:scale(1.15);
}

.error{
	color:#ac2925
}

.height-70{
	height:70px;
}

.alert-box{
	padding: 20px;
	font-size: x-large;
	font-family: Gadugi;
	color: #2D2D2D;
	background-color: #c8d5db;
	position: absolute;
	top: 40%;
	/*border-radius: 10px;*/
	/*width: 30vw;*/
	-webkit-box-shadow: -12px 7px 2px 0px rgba(143,143,143,1);
	-moz-box-shadow: -12px 7px 2px 0px rgba(143,143,143,1);
	box-shadow: -12px 7px 2px 0px rgba(143,143,143,1);
}

.btn-100-bottom{
	margin-top: 20px;
	width: 100%;
	background-color: rgba(206, 69, 55, 0.87);
	border: 0;
}

.btn-100-bottom:hover{
	margin-top: 20px;
	width: 100%;
	background-color: rgba(156, 27, 29, 0.87);
	border: 0;
}

.big-url{
	font-size: 5vh;
	color: #103a4d;
	font-family: inherit;
	margin-top: 5%;
	margin-bottom: 5%;
}

.navbar-btn{
	width:150px;
}

.center-form{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.list-view{
	margin-bottom: 100px;
}

.input-round{
	border: solid 1px;
	align-content: center;
	border-radius: 3px;
	background-color: transparent;
	color : #5e5e5e;
}

.input-round-lg{
	border: solid 1px;
	align-content: center;
	border-radius: 3px;
	background-color: transparent;
	font-size: 20px;
	color : #2D2D2D;
	border-color: #c0c8c9;
	height: 50px;
}

.input-square{
	border: transparent 0px solid;
	background-color: white;
	box-shadow: none;
	font-size: 40px;
	border-radius: 0px;
}

.border-3{
	border: 2px solid rgba(67, 72, 79, 0.08);

}

.border-3:hover{
	transform: scale(1.1);
	-webkit-box-shadow: -12px 7px 2px 0px rgba(143,143,143,1);
	-moz-box-shadow: -12px 7px 2px 0px rgba(143,143,143,1);
	box-shadow: -12px 7px 2px 0px rgba(143,143,143,1);
}
input{
	height: 35px;
	text-align: center;
	align-content: center;
	border-radius: 3px;
	background-color: transparent;
	color: #2e6da4;
}

select{
	height: 35px;
}

.submit-btn{
	/*width: 50%;*/
}

.list-fiche{
	margin-bottom: 20px ;
}

.list-icone{
	/*min-width: 150px;*/
	width: 100%;
	height: 200px;
	border: solid #2D2D2D;
	border-radius: 5px 5px 0px 0px;
	background-color: #2D2D2D;
	font-family: Gadugi;
	color: whitesmoke;
	text-overflow: ellipsis;
	overflow: auto;
}

.no-border{
	border: hidden;
}

.element-list{
	/*background-color: rgba(177, 151, 245, 0.16);*/
	/*animation: fadein 2s;*/
	/*-moz-animation: fadein 2s; !* Firefox *!*/
	/*-webkit-animation: fadein 2s; !* Safari et Chrome *!*/
	/*-o-animation: fadein 2s;*/
	min-height: 60px;
	width: 100%;
	border-radius : 10px;
	border: hidden transparent;
	padding-top: 5px;
	padding-bottom: 5px;
}

.element-list:hover{
	transform:  scale(1.15);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(122,122,122,1);
	-moz-box-shadow: 0px 0px 8px 2px rgba(122,122,122,1);
	box-shadow: 0px 0px 8px 2px rgba(122, 122, 122, 0.15);
	/*background-color: white;*/
	background-color: rgba(0, 130, 244, 0.7);
	color: white;
}

.row-100{
	position: relative;
	float: right;
	width: 120px;
}

.hidden{
	visibility: hidden;
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-moz-keyframes fadein { /* sur Firefox */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-o-keyframes fadein { /* sur Opera */
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}
}

.sticky-btn{
	width: 100%;
	border-radius:0px 0px 5px 5px;
	font-family: Gadugi;
}


.clickable{
	cursor: pointer;
	/*height: 65%;*/
	/*width: 100%;*/
	font-size: large;
}



.jumbotron .panel{
	color: #2D2D2D;
	margin-top: 5vh;
}

.list{
	margin-bottom: 50px;
}

.menu-list{
	margin-top: 2vh;
}

.stick-left{
	float: left;
	position: absolute;
}

.btn-signin{
	background-color: rgba(27, 109, 133, 0.39);

}

.btn-subscribe{
	background-color: rgba(132, 53, 52, 0.47);
}

.btn-ok{
	margin-top: 20px;
	width: 30%;
	background-color: rgba(234, 234, 248, 0.59);
	border-color: transparent;
	border-radius: 5px;
	color: #2D2D2D;
}

.btn-ok:hover{
	width: 30%;
	background-color: rgba(112, 109, 124, 0.42);
	border-color: transparent;
	border-radius: 5px;
	color: #2D2D2D;
}

.btn-share{
	margin: 0px;
	width: 50px;
	height: 50px;
	background-image: url("/app/img/shareIcon.png");
	/*background-color: #1b6d85;*/
	background-size: cover;
}

.btn-share:hover{

	-webkit-filter: invert(50%);
	-moz-filter: invert(50%);
	-o-filter: invert(50%);
	-ms-filter: invert(50%);

	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

}

.btn-edit{
	border-radius: 5px;
	margin-right: 5px;
	width: 50px;
	height: 50px;
	background-image: url("/app/img/ic_edit.png");
	/*background-color: rgba(227, 181, 86, 0.8);*/
	background-color: inherit;
	background-size: cover;
}

.btn-edit:hover{
	-webkit-filter: brightness(1.1);
	-moz-filter: brightness(1.1);
	-o-filter: brightness(1.1);
	background-color: rgba(251, 252, 253, 1);
	filter: brightness(1.1);
}

.btn-add-list{
	width: 100%;
	background-color: rgba(27, 109, 133, 0.78);
	background-image: url("/app/img/ic_note_add.svg");
	background-position: center;
	background-repeat: no-repeat ;
	background-size: 100% 80%;
	height: 234px;
	/*border: #1b6d85 1px;*/
	border-radius: 5px;
	/*background-color: #1b6d85;*/
	font-family: Gadugi;
	color: whitesmoke;
}

.btn-unstick:hover{
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

	border-radius: 5px;

	box-shadow: 0px 6px rgba(0, 0, 0, 0.7),
	0px 5px rgba(198, 198, 198, 0.7);
	transform: translateY(-6px);
}

.btn-copy{
	height: 45px;
	width: 43px;
	background-size: cover;
	background-color:  snow;
	border-radius: 0 5px 5px 0;
	border: thin;
	background-image: url("/app/img/iconCopy.png");
}

.btn-copy:hover{
	background-color: rgba(112, 109, 124, 0.42);
}

.btn-plus{
	height: 45px;
	width: 43px;
	background-size: cover;
	background-color: white;
	border-radius: 0 5px 5px 0;
	border: 1px;
	background-image: url("/app/img/ic_plus.png");
}

.btn-plus:hover,.btn-plus-square:hover{
	background-color: rgba(27, 109, 133, 0.93);
}

.btn-plus-square{
	width: 70px;
	background-size: cover;
	background-color: white;
	border-radius: 0;
	border: 1px;
	background-image: url("/app/img/ic_plus.png");
}

.btn-choice{
	height: 50px;
	background-color: rgba(33, 103, 133, 0.87);
	border: solid transparent;
	border-radius: 10px;
	color : white;
}

.btn-choice:hover{
	border: solid rgba(33, 103, 133, 0.87);
	background-color: transparent;
	color : rgba(33, 103, 133, 0.87);
	font-size: x-large;
}

.btn-delete{
	border-radius: 5px;
	margin-right: 5px;
	width: 50px;
	height: 50px;
	background-image: url("/app/img/ic_delete.png");
	/*background-color: rgba(253, 120, 121, 0.69);*/
	background-color: inherit;
	background-size: cover;
}

.btn-delete:hover
{
	-webkit-filter: brightness(1.1);
	-moz-filter: brightness(1.1);
	-o-filter: brightness(1.1);
	background-color: rgba(251, 252, 253, 1);
	filter: brightness(1.1);
}

.transition-05{
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.transition-1{
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.transition-15{
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	-ms-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
}

.transition-delay-1{
	transition-delay: 10s !important;
	-moz-transition-delay: 10s;
	-webkit-transition-delay: 10s;
	-o-transition-delay: 10s;
}

.iconUser
{
	border: inset 5px;
	border-radius: 5px;
	width: 45px;
	height: 45px;
	line-height: 25px;
	text-align:center;
	vertical-align: middle;
	font-size: large;
	font-family: "Bauhaus 93", sans-serif;
	line-height: 32px;
	font-size: 28px;
}

.iconUser span {
	position:absolute;
	margin-top:-50px;
	margin-left:-10px;
	background:rgba(0,0,0,.9);
	padding:15px;
	border-radius:3px;
	box-shadow:0 0 2px rgba(0,0,0,.5);
	transform:scale(0) rotate(-12deg);
	transition:all .25s;
}

.iconUser:hover span{
	transform:scale(1) rotate(0);
}

.blob {
	width: 10vw;
	height: 20vh;
	background-color: #269abc;
	border-radius: 10vh;
	animation: beating 5s linear;
}

.blob:hover{
	animation: pulse 2s linear;
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
}

.animation-repeat{
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
}

@keyframes beating{
	from { transform: scale(1)  }
	33%  { transform: scale(1.1)}
	66%  { transform: scale(0.9)}
	100% { transform: scale(1)  }
}