
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading" style="height: 60px">
            <form  class="form-inline" ng-model="listForm" ng-hide="searchListView">
                <h3 class="panel-title form-group">{{message}}</h3>
                <input class="form-control" style="float: right;" type="text" ng-model="item" placeholder="search a list"/>
            </form>
        </div>
        <div class="panel-body" >

            <row>
                <div class="col-lg-1 col-lg-offset-1 list-icone" ng-repeat="list in listList | filter: {name: item}">

                    <div class="clickable" ng-click="showList(list)">

                        <h2 class="text-center"  >{{list.name}}</h2>

                    </div>

                    <button class="col-lg-10 col-lg-offset-1 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 sticky-btn btn btn-danger" ng-click="deleteList(list._id)">Delete</button>

                </div>
            </row>



            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-4 col-md-offset-4 btn" ng-include="'/app/modules/listsUser/newList.html'"></div>
                <!--<div class="btn-group col-lg-1 col-lg-offset-5 col-md-offset-5 col-sm-offset-5">-->
                        <!--<button class="btn btn-default" ng-click="newListShow()">New list</button>-->
                    <!--</div>-->
                </div>


            </div>

        </div>
    </div>

</div>
