
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2 class="panel-title">Sign In</h2>
        </div>
        <div class="row text-center">
                <div class="panel-body">

                    <form ng-submit="connexion(idUser, password)">
                        <p>Login</p>
                        <input type="text" ng-model="idUser">

                        <p>Password</p>
                        <input type="password" ng-model="password">
                        <p></p>
                        <p><input class="btn btn-default" type="submit" value="Signin"></p>
                    </form>
                </div>
            <div style="color:maroon" role="alert">
                {{error}}
            </div>

        </div>
    </div>
</div>

