<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <script src="/node_modules/socket.io-client/socket.io.js"></script>
    <script src="/app/modules/appCore/homeModule.js"></script>
    <script src="/app/modules/appCore/homeController.js"></script>
    <script src="/app/modules/signin/signinController.js"></script>
    <script src="/app/modules/subscribe/subscribeController.js"></script>
    <script src="/app/modules/listsUser/listController.js"></script>
    <script src="/app/modules/listContent/contentListController.js"></script>

    <link rel="stylesheet" href="/app/css/bootstrap.css" />
    <link rel="stylesheet" href="/app/css/style.css" />

    <base href="/" />

    <script>
        /*var socket = io.connect('http://localhost:1337');
        socket.on('message', function (message) {
            alert('Message du server: '+message);
        })*/
    </script>
</head>
<body ng-app = "myApp" ng-controller = "HomeController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-left" style="padding: 10px;">
                    <img alt="Brand" src="/app/img/iconNav.png" style="width: 50px">
                </div>



            </div>

            <button class="btn btn-default navbar-btn btn-navbar" ng-click="goHome(false, '/foodList')">Homepage</button>
            <button class="btn btn-default navbar-btn" ng-click="goHome(true, '/')">Deconnect</button>

            <div class="navbar-right" style="padding: 10px;">
                <img alt="Brand" src="/app/img/iconUser.png" style="width: 50px">
            </div>
        </div>
    </nav>

    <div class="container view">
        <ng-view></ng-view>
    </div>



    <footer class="footer navbar-fixed-bottom">

        <div class="centeredElement">
            <p> App made by <a href="https://www.linkedin.com/in/antoine-chan-550a18a5?trk=nav_responsive_tab_profile_pic">KingPepito</a></p>
        </div>
    </footer>
</body>
</html>