<!--Big Wrapper-->
<div smooth-scroll easing="easeInQuint">
    <div id="wrapper" >

        <h1 class="big-title">List.</h1>
        <bouncing-arrow></bouncing-arrow>
    </div>
</div>


<div class="container fullscreen">

    <div class="container theme-showcase welcome">
        <div class="jumbotron ">

            <h1>Welcome !</h1>

            <h2 class="">Here is a simple tool that will help you managing shared lists!</h2>

            <div class="panel panel-primary">
                <div class="container panel-body">
                    Please <button class="btn btn-default btn-signin" ng-click="signIn()" id="caca">sign in</button>
                    or <button class="btn btn-default btn-subscribe" ng-click="subscribe()">subscribe</button> to access your personal lists
                </div>
            </div>

            <div url-generator>

            </div>
        </div>



    </div>
</div>