
<div class="container theme-showcase">
    <div class="jumbotron">

        <h1>Welcome !</h1>

        <h2 class="">Here is a simple tool that will help you managing shared lists!</h2>

    </div>

    <div class="panel panel-primary">
        <div class="container panel-body">
            Please <button class="btn btn-default btn-signin" ng-click="signIn()">sign in</button>
            or <button class="btn btn-default btn-subscribe" ng-click="subscribe()">subscribe</button> to access your personal lists
        </div>
    </div>

    <div url-generator>

    </div>

</div>