<div class="animated {{vm.animation}}">
    <div id="share">

        <p class="text-center">Hey, just copy this url to share the list with your friends, colleague, mother, cat...</p>

        <div class="input-group">
            <input type="text" class="form-control input-monospace input-lg text-center" value="{{vm.urlList}}" readonly="">
            <div class="input-group-btn">
                <button class="btn-copy transition-05" ng-click="copyToClipboard()"></button>
            </div>
        </div>
    </div>

    <button class="btn-ok transition-05 center-block" ng-click="vm.displayShare()">Got it!</button>
</div>