
<div>

    {{message}}
    {{id}}
    <ul>
        <li  ng-repeat="element in list track by $index">
            <button  ng-click="">{{element}}</button>
        </li>
    </ul>

    <div ng-hide="contentListView">
        <form ng-submit="addElementToList(addContent)">
            <input type="text" ng-model="addContent" placeholder="add element"/>
            <input type="submit"/>
        </form>
    </div>


    <div>
        Menu
        <button>Edit the list</button>
        <form ng-submit="grantUser(userToGrant)">
            <input ng-model="userToGrant" placeholder="grant an user">
            <input type="submit" >
        </form>
    </div>

    {{error}}

</div>
