
<div>

    {{message}}

    <form ng-submit="searchList(item)" ng-model="listForm" ng-hide="searchListView">
        <input type="text" ng-model="item" placeholder="search a list"/>
        <input type="submit"/>
    </form>

    <ul>
        <li  ng-repeat="list in listList track by $index">
            <button  ng-click="showList(list)">{{list.name}}</button>
        </li>
    </ul>

    <!--<div ng-hide="contentListView">-->
        <!--<form ng-submit="fillList"></form>-->
        <!--<input type="text" ng-model="addContent" placeholder="add element"/>-->
        <!--<input type="submit"/>-->
    <!--</div>-->

        <button ng-click="newListShow()">New list</button>
        <div ng-include="'app/templates/newList.html'" ng-hide="newListView"></div>
</div>
