<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/app/js/app/homeModule.js"></script>
    <script src="/app/js/app/homeController.js"></script>
    <script src="/app/js/signin/signinController.js"></script>
    <script src="/app/js/subscribe/subscribeController.js"></script>
    <script src="/app/js/listsUser/listController.js"></script>
    <script src="/app/js/listContent/contentListController.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <base href="/" />
</head>
<body ng-app = "myApp" ng-controller = "HomeController">


    <ng-view></ng-view>

    <button ng-click="goHome(false, '/foodList')">Homepage</button>
    <button ng-click="goHome(true, '/')">Deconnect</button>

</body>
</html>